<h1>Upcoming Concerts</h1>

{{#each model as |show|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{show.date}}</h3>
        </div>
        <div class="panel-body">
            <p>{{show.venue}}</p>
        </div>
    </div>
{{/each}}